  <div class="suggestion-bar">
    <div class="box">
      <button type="button" class="btn-dark close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">{{ isUpdate ? 'Browser Update' : 'Relaunch Browser' }}</h4>
      <p *ngIf="isUpdate">
        A new version of Chrome is available. Please download the latest version from the official website.
      </p>
      <p *ngIf="!isUpdate">
        You have downloaded the latest version of Chrome. Please relaunch the browser to complete the update.
      </p>
    </div>
    <div>
      <div *ngIf="isUpdate">
        <a  class="btn btn-primary" target="_blank" (click)="updateModal()">Download</a>
        <button type="button" class="btn btn-primary" (click)="activeModal.dismiss('Cross click')">Ignore</button> 
      </div>
      <button *ngIf="!isUpdate" type="button" class="btn btn-primary"><a target="_blank" (click)="openRelaunch()">Relaunch</a></button>
    </div>
  </div>
